.bg{
  background-image:url("/world.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
}
.bg2{
  background-image:url("/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}
.hp , .rp{
  text-align: center;
  margin-inline: auto;
}
.hp{
  color: rgb(133, 49, 218);
  font-size: 25px;
  margin-bottom: 10px;
}
.rp{
  font-size: 15px;
  color: red;
  margin-top: 10px;
  cursor: pointer;
}
.aligndata{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.para{
  padding: 20px 40px;
  font-size: 40px;
}
.para:nth-child(2){
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:  #fff;
}
.para:nth-child(2)::before{
  content: ' ';
  background: none;
  padding: 10px;
  background-color: springgreen;
  margin-right:10px;
  font-size: 25px;
  border-right: 4px solid white;
}
.authstack{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 10px;
  position: relati;
  border-radius: 10px;
}

.authstack input[type="email" ] , .authstack input[type="password"] , .authstack input[type="name"]{
  padding: 10px 20px;
  background: none;
  outline: 0px;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.authstack label{
  color: rgba(0,0,0,1);
  font-size: 15px;
}
.authstack button[type="submit"]{
  padding: 10px 20px;
  background-color: rgb(21, 83, 255);
  border :none;
  border-radius: 5px;
  outline: 0px;
  cursor: pointer;
  color: white;
}
.uses{
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subuse{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.texter{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding: 10px 20px;
  box-shadow:  2px 2px 7px 0px rgb(71, 71, 71);
  background-color:darkcyan;
  border-radius: 20px;
  align-self: flex-start;
}
.subuse ul li {
  padding: 40px 25px;
  box-shadow:  2px 2px 7px 0px rgb(59, 59, 59);
  background-color: #fff;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  margin-left: 25px;
}
.todaychart{
  height: 100vh;
  background-color: rgb(11, 55, 138);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chart{
  height: 400px;
  width: 90%;
  background-color: #fff;
  box-shadow:  2px 2px 7px 0px rgb(183, 183, 183);
  border-radius: 20px;
}
@media (max-width:1020px){
  .aligndata{
    align-items: flex-start;
  }
  .para:nth-child(1){
    border: none;
    color: #fff;
    font-size: 30px;
    width: calc(100% - 10rem);
  }
  .para:nth-child(2){
    font-size: 25px;
    color: white;
  }
  .para:nth-child(2)::before{
    content: ' ';
    background: none;
    padding: 10px;
    background-color: slateblue;
    margin-right:10px;
    border-right: 4px solid white;
  }
  .texter{
    font-size: 16px;
    margin: 5px;
  }
  .subuse ul li {
    padding: 35px 15px;
    margin: 10px;
  }
}